<footer class="rodape">
  <div class="rodape-logo">
    <img id="logo" src="../../assets/logo-original.svg" alt="" />
  </div>
  <div class="infos-rdoape">
    <select id="select">
      <option value="portugues">Portugues</option>
      <option value="ingles">Ingles</option>
    </select>
    <div><p>Política de Privacidade</p></div>
    <div><p>Proteção de Dados no Brasil</p></div>
    <div><p>Contrato de Assinatura</p></div>
    <div><p>Ajuda Dispositivos compatíveis</p></div>
    <div><p>Sobre o Star+</p></div>
    <div><p>Anúncios personalizados</p></div>
  </div>

  <p class="title">© Disney. Todos os direitos reservados.</p>
</footer>
