<div class="body" [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <div class="button-rigth"></div>
  <div class="header">
    <div class="img">
      <img id="image" src="../../assets/scale.png" alt="" />
    </div>
    <div class="infos">
      <h5 class="phases">passo 3 de 3</h5>
      <h1 class="email">Configure os pagamentos</h1>
      <h5 class="info">
        <p>Assine o Combo+ e aproveite o Start+ e Disney+ por R$</p>
        <p>45,90/mês</p>
      </h5>
      <h5 class="info">
        <p>Já tem o Disney+ ou o Star+ e quer o Combo+? o Valor da sua</p>
        <p>
          assinatura existente (anual ou mensal) será descontado do preço do
        </p>
        <p>Combo+. Clique aqui</p>
      </h5>
    </div>
    <div class="icons">
      <div class="icons-grid">
        <div
          class="card-credito"
          style="cursor: pointer"
          [routerLink]="['/sing-up/finalizing-purchase']"
        >
          <svg
            [routerLink]="['/sing-up/finalizing-purchase']"
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-credit-card"
            viewBox="0 0 16 16"
            style="cursor: pointer"
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"
            />
            <path
              d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"
            />
          </svg>
          <p
            class="title-credito"
            style="cursor: pointer"
            [routerLink]="['/sing-up/finalizing-purchase']"
          >
            Crédito/Débito
          </p>
        </div>
        <div
          class="pay-pal"
          style="cursor: pointer"
          [routerLink]="['/sing-up/finalizing-purchase/pay-pal']"
        >
          <svg
            [routerLink]="['/sing-up/finalizing-purchase/pay-pal']"
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-paypal"
            viewBox="0 0 16 16"
            style="cursor: pointer"
          >
            <path
              d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z"
            />
          </svg>
          <p
            class="title-pay-pal"
            style="cursor: pointer"
            [routerLink]="['/sing-up/finalizing-purchase/pay-pal']"
          >
            PayPal
          </p>
        </div>
        <div
          class="mercado-pago"
          style="cursor: pointer"
          [routerLink]="['/sing-up/finalizing-purchase/mercado-pago']"
        >
          <svg
            [routerLink]="['/sing-up/finalizing-purchase/mercado-pago']"
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-qr-code"
            viewBox="0 0 16 16"
            style="cursor: pointer"
          >
            <path d="M2 2h2v2H2V2Z" />
            <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z" />
            <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z" />
            <path
              d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"
            />
            <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z" />
          </svg>
          <p
            class="title-mercado-pago"
            style="cursor: pointer"
            [routerLink]="['/sing-up/finalizing-purchase/mercado-pago']"
          >
            Mercado Pago
          </p>
        </div>
      </div>
    </div>
    <div class="title">
      <h5 class="title">
        Ao selecionar "Concordar e Assinar", você concorda em iniciar a
        assinatura imediatamente e que o pagamento mensal não é reembolsável.
      </h5>
    </div>
    <div class="inputs">
      <div class="input-dad">
        <div class="input">
          <p class="title">cpf</p>
          <input
            class="input"
            formControlName="cadastroCPF"
            type="text"
            name=""
            id=""
          />
        </div>
        <p
          class="p-invalid"
          *ngIf="
            cadastroForm.get('cadastroCPF')?.errors &&
            cadastroForm.get('cadastroCPF')?.touched &&
            cadastroForm.get('cadastroCPF')?.dirty
          "
        >
          Confira seus Dados, algo está incorreto
        </p>
      </div>
    </div>
    <div class="title">
      <h5 class="title">
        Ao selecionar "Concordar e Assinar", você concorda em iniciar a
        assinatura imediatamente e que o pagamento mensal não é reembolsável.
        Cobraremos a mensalidade padrão de forma recorrente na sua forma de
        pagamento cadastrada. Você pode cancelar quando quiser e o cancelamento
      </h5>
      <button
        id="button"
        [disabled]="cadastroForm.invalid"
        [routerLink]="['/browse/start']"
      >
        Concordo e Assinar
      </button>
    </div>
  </div>
  <app-rodape-plus id="rodape"></app-rodape-plus>
</div>
