<div class="main-promation-title-grids">
  <div class="primary-grid-promation-special">
    <div class="promation-special">
      <h3 class="promation-title-primary">ASSINE O DISNEY+ E O STAR+</h3>
      <h1 class="promation-value">R$ 45,90/mês*</h1>
      <h3 class="promation-title-secodanry">
        <p>Com o Combo+, você pode</p>
        <p>aproveitar o Disney+ e o Star+ por</p>
        <p>um preço único.</p>
      </h3>
      <button class="promotion-button">assinar o combo+</button>
    </div>
  </div>
  <div class="secodary-grid">
    <div class="secodary-special">
      <h3 class="secodary-title-primary">ASSINE O DISNEY+ E O STAR+</h3>
      <h1 class="secodary-value">R$ 45,90/mês*</h1>
      <h3 class="secodary-title-secodanry">
        <p>Com o Combo+, você pode</p>
        <p>aproveitar o Disney+ e o Star+ por</p>
        <p>um preço único.</p>
      </h3>
      <button class="secodary-button">assinar o combo+</button>
    </div>
  </div>
  <div class="secodary-grid">
    <div class="secodary-special">
      <h3 class="secodary-title-primary">ASSINE O DISNEY+ E O STAR+</h3>
      <h1 class="secodary-value">R$ 45,90/mês*</h1>
      <h3 class="secodary-title-secodanry">
        <p>Com o Combo+, você pode</p>
        <p>aproveitar o Disney+ e o Star+ por</p>
        <p>um preço único.</p>
      </h3>
      <button class="secodary-button">assinar o combo+</button>
    </div>
  </div>
</div>
