<div class="body">
  <div class="header">
    <div class="img">
      <img id="image" src="../../assets/logo-original.svg" alt="" />
    </div>
    <div class="infos">
      <h1 class="email">Confirme seu email</h1>
      <p class="span">
        Precisamos verificar seu endereço de e-mail. Enviamos um e-mail para
        seuemail@gmail.com com um código de 6 dígitos que expira
        em&nbsp;15&nbsp;minutos. Digite esse código abaixo.
      </p>
      <input id="input" type="number" placeholder="Coloque o codigo" />
      <button id="button">Continuar</button>
      <p class="span">
        Não recebeu o e-mail?Verifique sua caixa de spam ou lixo eletrônico.
      </p>
      <p class="span-renviar">Renviar</p>
    </div>
  </div>
  <app-rodape-plus id="rodape"></app-rodape-plus>
</div>
