<div
  class="rodape-you-doubt"
  [ngClass]="{ rodapeYouDoubt: valor, rodapeYouDoubtShow: !valor }"
  (click)="onclick()"
>
  <div class="rodape-you-doubt-title">
    <h4 class="title">{{ title }}</h4>
    <div *ngIf="!valor" class="rodapeYouDoubtShowTitle">
      <h4 class="subtitle">{{ subtitle }}</h4>
      <h4 class="paragrafh">
        {{ paragraph }}
      </h4>
      <h4 class="paragrafh">
        {{ paragraphSecond }}
      </h4>
      <h4 class="paragrafh">
        {{ paragraphThird }}
      </h4>
      <h4 class="paragrafh">
        {{ paragraphDedroom }}
      </h4>
      <h4 class="paragrafh">
        {{ paragraphFifth }}
      </h4>
    </div>
  </div>
  <div class="rodape-you-doubt-icon">
    <svg
      *ngIf="valor"
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      fill="currentColor"
      class="bi bi-plus-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
      />
    </svg>
    <svg
      *ngIf="!valor"
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      fill="currentColor"
      class="bi bi-dash-lg"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
      />
    </svg>
  </div>
</div>
