@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
.body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  color: #fff;
  background: #090b13;
  font-family: "Roboto", sans-serif;
  .button-rigth {
    float: right;
    margin: 70px 65px;
    .button {
      background: none;
      border: none;
      outline: none;
      font-size: 15px;
      font-weight: 600;
      color: #cacaca;
      cursor: pointer;
    }
  }
  .header {
    margin: 0 auto;
    width: 370px;
    padding-bottom: 50px;
    .img {
      padding-top: 20px;
      #image {
        width: 350px;
      }
    }
    .infos {
      margin-top: 30px;
      .phases {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        color: #cacaca;
      }
      .email {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: "Roboto", sans-serif;
        margin-top: 5px;
      }
      .info {
        font-weight: 400;
        line-height: 22px;
        margin-top: 20px;
        font-size: 14px;
        color: #cacaca;
        opacity: 1;
      }
      #input {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        border: 5px;
        outline: none;
        background-color: rgb(49, 52, 62);
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        &::placeholder {
          padding-left: 12px;
          font-size: 15px;
        }
        &:focus {
          border: 1px solid #cacaca;
        }
      }
      .p-invalid {
        margin-top: 0.45rem;
        font-size: 12px;
        color: #ff554c;
        line-height: 16px;
        opacity: 1;
      }
      .checkbox {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 30px 1fr;
        .input {
          #allify {
            height: 20px;
            width: 20px;
            outline: none;
            background-color: red;
            border: none;
          }
        }
        .title {
          #title {
            font-size: 11px;
            line-height: 20px;
            color: #cacaca;
          }
        }
      }
      .ponto {
        margin-top: 25px;
        width: 100%;
        height: 35vh;
        background: #26232a;
        border-radius: 10px;
        .title {
          font-size: 11px;
          line-height: 20px;
          color: #cacaca;
          margin: 15px 7px;
          padding-top: 5px;
        }
        #button {
          margin: 2px 7px;
          width: 96%;
          height: 50px;
          background: linear-gradient(90deg, #fa1660, #ff6e00);
          border: none;
          outline: none;
          border-radius: 5px;
          text-transform: uppercase;
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
